# Arquivos de ambiente virtual Python
venv/
env/
.env

# Arquivos de cache Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de distribuição
dist/
build/
*.egg-info/

# Arquivos de banco de dados SQLite
*.sqlite
*.db

# Arquivos de log
*.log

# Arquivos específicos do VS Code
.vscode/

# Arquivos específicos do Node.js
node_modules/
package-lock.json

# Arquivos temporários
temp/
tmp/

# Configurações de produção
prod_config.py
.pytest_cache/
uso windows.txt
__pycache__/
sessões.txt
backend/pyrightconfig.jsonbackend/static/images/
