# Configuração e Instância
prod_config.py
instance/
.env

# Ambiente Virtual
venv/
.venv/

# Python cache/compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Banco de dados e backups
*.db
*.sqlite3
*.sqbpro
*.bak

# Logs
logs/
*.log

# Ngrok e outros executáveis baixados
ngrok/

# Artefatos de teste/build/dist
htmlcov/
.coverage
test-results/
playwright-videos/
dist/
build/
*.egg-info/

# IDE/Editor specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

# Outros específicos do projeto (adicione se necessário)